<%- include('./shared/header.ejs', {title: 'Participer'}) %>
<div class="mx-auto mb-5">




    <div class="mx-auto w-75" style="margin-top: 10em;" id="incarnation">
        <h2 class="mb-5">Information</h2>
        <p class="w-75">
            Pour répondre aux situations qui vont vous être proposé, vous allez devoir choisir vos réponses en imaginant que vous êtes une <span id="ia">IA</span>.
            C'est à dire que vous allez devoir répondre en fonction de ce que vous pensez qu'une IA devrait répondre.
        </p>
    </div>






    <% if (dilemme){ %>
    <div class="mx-auto collapse" style="width: 85%;" id="dilemme" data-id-defaut="<%= dilemme.id %>">
        <h1 class="my-5 mx-auto">Les dilemmes</h1>
        <div class="mx-auto w-75">
            <p class="w-100">
                <%= dilemme.description %>
            </p>
        </div>
        <h2 class="my-5 mx-auto">Que faites-vous ?</h2>
        <div class="w-75 mx-auto">
            <div class="d-flex justify-content-evenly gap-5">
                <div class="d-flex align-items-center w-75">
                    <p class="m-0"><%= dilemme.choix1 %></p>
                    <input type="radio" name="choix" id="choix1" class="ms-4 custom-radio">
                </div>
                <div class="d-flex align-items-center w-75">
                    <p class="m-0"><%= dilemme.choix2 %></p>
                    <input type="radio" name="choix" id="choix2" class="ms-4 custom-radio">
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end mx-auto w-50">
        <button class="btn btn-primary mt-5" id="btn-suivant">Suivant ➜</button>
    </div>
    <% } else{ %>
        <p class="mt-5">Il n'y a pas de dilemme à afficher</p>
    <% } %>

    <div class="collapse" id="form">
        <h1 class="my-5 mx-auto">Formulaire de participation</h1>
        <form  action="/users" method="post" >
            <div class="d-flex">
                <div>
                    <label for="age">Age:</label>
                    <input type="number" id="age" name="age" min="0" required>
                </div>
                <div>
                    <label for="sexe">Sexe:</label>
                    <select id="sexe" name="sexe" required>
                        <option value="Homme">Homme</option>
                        <option value="Femme">Femme</option>
                        <option value="Autre">Autre</option>
                        <option value="None">Préfère ne pas répondre</option>
                    </select>
                </div>
            </div>
            <div class="d-flex">
                <div style="width: 85.3%;">
                    <label for="ville">Ville:</label>
                    <input type="text" id="ville" name="ville" required>
                </div>
            </div>
            <div class="d-flex">
                <div>
                    <label for="region">Region:</label>
                    <input type="text" id="region" name="region">
                </div>
                <div>
                    <label for="pays">Pays:</label>
                    <input type="text" id="pays" name="pays" required>
                </div>
            </div>
            <div class="d-flex mx-auto justify-content-center flex-column">
                <div class="last-3-input">
                    <label for="education">Education:</label>
                    <select id="education" name="education">
                        <option value="" hidden>Choisissez un diplôme</option>
                        <optgroup label="Niveau 3">
                        <option value="CAP">CAP (Certificat d'aptitude professionnelle)</option>
                        <option value="BEP">BEP (Brevet d'études professionnelles)</option>
                        <option value="MC">MC (Mention complémentaire)</option>
                        </optgroup>
                        <optgroup label="Niveau 4">
                        <option value="BacPro">Baccalauréat professionnel</option>
                        <option value="BP">BP (Brevet professionnel)</option>
                        <option value="BT">BT (Brevet de technicien)</option>
                        </optgroup>
                        <optgroup label="Niveau 5">
                        <option value="BTS">BTS (Brevet de technicien supérieur)</option>
                        <option value="DUT">DUT (Diplôme universitaire de technologie)</option>
                        <option value="DEUST">DEUST (Diplôme d'études universitaires scientifiques et techniques)</option>
                        </optgroup>
                        <optgroup label="Niveau 6">
                        <option value="Licence">Licence</option>
                        <option value="LicencePro">Licence professionnelle</option>
                        <option value="Bachelor">Bachelor</option>
                        </optgroup>
                        <optgroup label="Niveau 7">
                        <option value="Master">Master</option>
                        <option value="Ingenieur">Diplôme d'ingénieur</option>
                        <option value="EcoleCommerce">Diplôme d'école de commerce</option>
                        </optgroup>
                        <optgroup label="Niveau 8">
                        <option value="Doctorat">Doctorat</option>
                        <option value="HDR">HDR (Habilitation à diriger des recherches)</option>
                        </optgroup>
                    </select>
                </div>
            </div>
            <div class="d-flex mx-auto justify-content-center flex-column">
                <div class="last-3-input">
                    <label for="occupation">Occupation:</label>
                <select name="occupation" id="occupation">
                    <option value="" hidden>Choisissez une occupation</option>
                    <option value="etudiant">Étudiant</option>
                    <option value="employe_temps_plein">Employé à temps plein</option>
                    <option value="employe_temps_partiel">Employé à temps partiel</option>
                    <option value="sans_emploi">Sans emploi</option>
                    <option value="retraite">Retraité</option>
                    <option value="autre">Autre</option>
                </select>
                </div>        
            </div>
            <div class="d-flex mx-auto justify-content-center flex-column">
                <div class="last-3-input">
                    <label for="commentaire">Commentaire:</label>
                    <textarea id="commentaire" name="commentaire"></textarea>
                </div>
            </div>
            <div class="d-flex justify-content-center my-4">
                <input type="submit" id="btn-submit">
            </div>
        </form>
    </div>
</div>
<%- include('./shared/footer.ejs') %>



<template id="contexte_template">
    <div class="mx-auto w-75" id="contexte" data-id-contexte="">
        <h2 class="my-5 mx-auto" >Contexte : </h2>
        <ul id="list_contexte">
            <li></li>
        </ul>
    </div>
</template>

<template id="reponse_send_template">
    <div class="d-flex flex-column align-items-center" id="reponse_send">
        <img class="img-fluid w-25" src="/img/icone_sendform.png" alt="Icone reponse envoyée">
        <h2 class="text-center">Votre participation a bien été enregistré</h2>
    </div>
</template>
